/* Give your page a fun background color */
body{
    background-image: linear-gradient(cadetblue, white, cadetblue);
}
/* Make the header and footer a different color from the background */
header{
    font-style: italic;
    text-align: center;
    font-size: 72px;
    background-image: radial-gradient(circle, blueviolet,white);
    
}
footer{
    background-image: radial-gradient(circle, blueviolet,white);
}

/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    font-style: italic;
    text-align: center;
}
/* Put a border around your image */
img{
    border-width: 3px;
    border-color: azure;
    border-style: double;
    border-radius: 50px 50px 50px 50px;
    border-width: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/* Change the font-family of your list */
ol{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}