/* Give your page a fun background color */
body{
    background-color:cadetblue;
}
/* Make the header and footer a different color from the background */
header{
    background-color: cornflowerblue;
}
footer{
    background-color: cornflowerblue;
}

/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color:blanchedalmond;
    font-style: italic;
    text-align: center;
}
/* Put a border around your image */
img{
    border-width: 3px;
    border-color: azure;
    border-style: double;
    align-self: center;
}
/* Change the font-family of your list */
ol{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}